<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">New Post</h2>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="title">Insert Title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="content">Insert Content:</label>
        <textarea rows="5" cols="50" id="content" placeholder="Enter Content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="submit-post">Submit Post</button>
      </div>
    </form>
  </div>
</div>

<script src="../../assets/js/new-post.js"></script>