{{#each posts as |post|}}
{{> post-details}}
{{/each}}

{{#each comments}}
{{> comment-details}}
{{/each}}

<div class="card">
    <p>Add Comment</p>
    <textarea rows="5" cols="90" id="comment-input" placeholder="Enter comment"></textarea>
    <br>
    <button class="btn btn-secondary" id="post">Post Comment</button>
</div>


<script src="../../assets/js/add-comment.js"></script>
